{% extends 'layout.twig' %}
{% block content %}
    <div class="row">
        <div class="col">
            <div class="alert alert-info">
                <h1>Error 400</h1>
                <p><fa class="fa-warning"></fa> Opps, parece que tu solicitud NO puede ser procesada.<br> Intenta nuevamente</p>
                <p><a href="/admin">Regresar</a></p>
            </div>
        </div>
    </div>
{% endblock %}