{% extends "layout.twig" %}
{% block content %}
    <h1>Add Job</h1>
    {% if(responseMessage != '') %}
    <div class="alert alert-{{ classMessage }}">
        {{ responseMessage }}
    </div>
    {% endif %}
    <form action="/jobs/add" method="post" enctype="multipart/form-data">
        <label for="">Title:</label>
        <input type="text" name="title"><br>
        <label for="">Description:</label>
        <input type="text" name="description"><br>
        <input type="file" name="logo"><br>
        <button type="submit">Save</button>
        {#<img src="../public/uploads/google.png" alt="Google">#}
    </form>
{% endblock %}