{% extends 'layout.twig' %}
{% block content %}
    {% if responseMessage != '' %}
        <div class="alert alert-{{ classMessage }}">
            {{ responseMessage }}
        </div>
    {% endif %}
    <form action="/users/changepass" method="post">
        <h1>Change Password</h1>
        <label for="">Password</label>
        <input type="text" name="password"><br>
        <label for="">New Pass</label>
        <input type="password" name="newpass"><br>
        <label for="">Confirm Pass</label>
        <input type="password" name="confirmpass"><br>
        <button type="submit">Change</button>
    </form>
{% endblock %}